@font-face {
  font-family: "TestFoundersGrotesk400";
  src: url("/fonts/Founders_Grotesk_Font_Family/TestFoundersGrotesk400.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* dividing all sections */
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

/* defining light and dark sections */
.darkSection {
  width: 100%;
  height: 100%;
  background-color: #202030;
  color: white;
}

.lightSection {
  background-color: white;
  color: #202030;
}

/* positioning nav at bottom */
.nav {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* nav items arrangment */
ul {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

/* global heading sizing  */
h1 {
  font-size: 180px;
  line-height: 255.99px;
  font-family: "Noto Serif Display", serif;
  font-weight: 400;
}

p {
  font-family: "TestFoundersGrotesk400";
}
